@model Sunshine.Areas.Admin.ViewModels.MenusDetailsViewModel

@{
    ViewData["Title"] = "Детально про меню (Адмін)";

}

<h1>Детально про меню</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.SubMenus)
        </dt>
        <dd class="col-sm-10">
            <table class="table sorting" id="subMenus">
                <thead>
                    <tr class="tableHeader">
                        <th>Назва</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subMenu in Model.SubMenus)
                    {
                        <tr id="id_@subMenu.Id" class="@subMenu.Id">
                            <td>@subMenu.Name</td>
                            <td>
                                <a asp-controller="SubMenus" asp-action="Details" asp-route-id="@subMenu.Id" class="btn btn-outline-primary">Переглянути</a>
                                <a asp-controller="SubMenus" asp-action="Edit" asp-route-id="@subMenu.Id" class="btn btn-dark">Редарувати</a>
                                <a asp-controller="SubMenus" asp-action="Delete" asp-route-id="@subMenu.Id" class="btn btn-danger">Видалити</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-primary">Повернутися назад</a>
    <a asp-action="Edit" asp-route-id="@Model.Menu.Id" class="btn btn-dark">Редагувати</a>
</div>

@section Scripts{
    <script>
        $("table#subMenus tbody").sortable({
            items: "tr:not(.tableHeader)",
            placeholder: "ui-state-hightlight",
            update: function () {
                let ids = $("table#subMenus tbody").sortable("serialize");
                let url = "/admin/submenus/reorder";
                $.post(url, ids, function () { });
            }
        })
    </script>
}
