@model NewsIndexViewModel

@{
    ViewData["Title"] = "Новини";
}

<div class="news">
    @foreach (var neww in Model.News)
    {
        <div class="new">
            <h3>@neww.Title</h3>
            <div>
                <img src="@(string.IsNullOrEmpty(neww.Image) ?  "/media/images/noimage.jpg" : neww.Image)" width="200" class="newsImage" />
                <div>@Html.Raw(neww.ShortText)</div>
                <div class="text-right">
                    <div>
                        <span class="textGrey textSmall">Розміщено @neww.CreatedAt</span>
                    </div>
                    <div>
                        <a asp-area="" asp-action="Details" asp-route-id="@neww.Id" class="btn btn-outline-primary">Детально</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="d-flex w-100 justify-content-center">
    <pagination page-count="@Model.PagesCount" page-target="/" page-number="@Model.PageNumber" page-size="10" page-range="10"></pagination>
</div>

