@model Sunshine.Models.New

@{
    ViewData["Title"] = "Детально про новину (Адмін)";
}

<h1>Детально про новину</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortText)
        </dt>
        <dd class="col-sm-12">
            @Html.Raw(Model.ShortText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-12">
            @Html.Raw(Model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/media/news/@Model.Image" width="200" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-primary">Повернутися назад</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Редагувати</a>
</div>
