@model NewsIndexViewModel

@{
    ViewData["Title"] = "Новини (Адмін)";
}

<h1>Новини</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Створити</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => ((List<New>)model.News)[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => ((List<New>)model.News)[0].Image)
            </th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.News)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    <img src="@(string.IsNullOrEmpty(item.Image) ?  "/media/images/noimage.jpg" : item.Image)" width="100" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Детально</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Редагувати</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex w-100 justify-content-center">
    <pagination page-count="@Model.PagesCount" page-target="/admin" page-number="@Model.PageNumber" page-size="10" page-range="10"></pagination>
</div>